<table class="transactions-table">
  <thead>
    <tr class="header-row">
      <th class="name-header">NAME</th>
      <th class="number-header">#</th>
      <th class="project-header">PROJECT</th>
      <th class="date-header">DATE</th>
      <th class="status-header">STATUS</th>
      <th class="amount-header">AMOUNT</th>
      <th class="action-button-header"></th>
    </tr>
  </thead>
  <tbody >
    <tr class="transaction-row" ng-repeat="transaction in transactionTableCtrl.transactions | orderBy:'paid_date':true" ng-click="transactionTableCtrl.openModal(transaction)">
      <td>{{transaction.companyName}}</td>
      <td>{{transaction.formattedPaymentNumber()}}</td>
      <td>{{transaction.projectName}}</td>
      <td>{{transaction.formattedCreatedDate()}}</td>
      <td class="status-cell">
        <div class="status-container" ng-class="transactionTableCtrl.getStatusClass(transaction)">{{transactionTableCtrl.getStatusText(transaction)}}</div>
      </td>
      <td class="amount-cell">{{transaction.amount() | currency}}</td>
      <td class="action-button-cell"><i class="fa fa-ellipsis-v"></td>
      <div class="row-border"></div>
    </tr>
  </tbody>
</table>

