.transactions-table {
  th {
    font-size: 17px;
    font-family: khuluBold;
    color: rgb(71, 71, 71);
  }
  .header-row {
    height: 41px;
    vertical-align: top;
  }
  tbody {
    tr {
      border-bottom: solid;
      border-width: 1px;
      border-color: rgb(234, 234, 234);
      height: 90px;
      vertical-align: middle;
    }
  }
  td {
    padding-top: 11px;
    font-family: khuluLight;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: .5px;
    color: rgb(131, 131, 131);
  }
} 
.name-header {
  padding-right: 305px;
}

.number-header {
  padding-right: 93px;
  padding-left: 3px
}

.project-header {
  padding-right: 254px;
}

.date-header {
  padding-right: 85px;
  padding-left: 26px;
  text-align: center;
}

.status-header {
  padding-right: 31px;
  padding-left: 26px;
  text-align: center;
}
.status-cell {
  padding-bottom: 5px;
}
.status-container {
  height: 36px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 7px;
  font-family: khuluLight;
  border-radius: 2px;
}

.status-owed {
  background: rgb(231, 76, 60);
  color: $owed-color;
}
.status-received {
  background: rgb(46, 204, 113);
  color: $received-color;
}
.status-paid {
  background: rgb(41, 128, 185);
  color: $paid-color;
}
.status-unpaid {
  background: rgb(242, 155, 18);
  color: $unpaid-color;
}


.amount-header {
  padding-left: 95px;
}

.amount-cell {
  text-align: right;
}
.action-button-header {
  padding-left: 48px;
}
.action-button-cell {
  text-align: right;
  font-size: 30px!important;
  padding-top: 6px;
  color: rgb(196, 193, 197)!important;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
}


