$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@font-face {
  font-family: khulu;
  src: url(../assets/fonts/Khula-SemiBold.ttf);
}

@font-face {
  font-family: khuluLight;
  src: url(../assets/fonts/Khula-Light.ttf);
}

@font-face {
  font-family: khuluBold;
  src: url(../assets/fonts/Khula-Bold.ttf);
}

$procore-orange: rgb(245, 128, 31); 
$procore-orange-transparent: rgba(245, 128, 31, 0.2); 
$outer-background: rgb(249, 249, 249);
$received-color: rgb(252, 253, 253);
$owed-color: rgb(251, 229, 225);
$paid-color: rgb(228, 238, 245);
$unpaid-color: rgb(250, 238, 226);

/*
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button-disabled {
  background: #92bbd6!important;
  cursor: default!important;
}
.button-hover {
  cursor: pointer;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Component styles are injected through grunt
// injector
@import 'common/modals/notification.scss';
@import 'common/modals/process-payment.scss';
@import 'common/modals/view-transaction.scss';
@import 'common/partials/transaction-table.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/expenditures/expenditures.scss';
@import 'dashboard/incomes/incomes.scss';
@import 'dashboard/summary/summary.scss';
@import 'login/login.scss';
@import '../components/footer/footer.scss';
@import '../components/navbar/navbar.scss';
// endinjector

