<div class="view-modal-header-wrapper">
  <div class="exit-button" ng-click="$dismiss()">X</div>
</div>
<div class="view-modal-body-wrapper">
  <div class="view-modal-body">
    <div class="signature-file-upload">
      <div ng-if="electronicSignatureCtrl.step === 1">
        <input ng-model="electronicSignatureCtrl.title" class="flat-textbox" placeholder="title">
        upload your file
        <button 
           type="file" 
           ngf-select="electronicSignatureCtrl.setUploadFile($files, $invalidFiles)"
           multiple
           >
           Select File
        </button>
          <br><br>
          File:
          <div style="font:smaller">{{electronicSignatureCtrl.uploadFile.name}}</div>
      </div>
    </div>

    <div ng-if="electronicSignatureCtrl.step === 2">
      <div class="signature-choose-signer-container">
        <div class="signature-question"><p>Who would you like to sign this document?</p></div>
        <div class="signature-choose-self" ng-click="electronicSignatureCtrl.chooseMe()">Me</div>
        <div class="signature-choose-other" ng-click="electronicSignatureCtrl.chooseSomeoneElse()">Someone Else</div>
      </div>
    </div>

    <div ng-if="electronicSignatureCtrl.step === 3">
      <div class="signature-question"><p>Choose the person that you would like to sign this document:</p></div>

      <select 
        name="signature-user-select" 
        id="signature-user-select" 
        class="form-control signature-dropdown" 
        ng-options="user as user.fullName() for user in electronicSignatureCtrl.allUsers"
        ng-model="electronicSignatureCtrl.selectedUser" 
        ng-change="electronicSignatureCtrl.selectedSomeoneElse()">
        <option selected="selected">Requested Signatures</option>
        <option>My Signatures</option>
      </select>
    </div>

  </div>
</div>
