
.signature-file-upload {
  text-align: center;
}

.signature-choose-signer-container {
  padding-top: 45px;
  margin: 0 auto;
  width: 50%;
}

.signature-question {
  text-align: center;
  padding-bottom: 25px;
}

.signature-choose-self {
  float: left;
}

.signature-choose-other {
  float: right;
}
