<div class="view-modal-body-wrapper">
  <div class="view-modal-body">
    <!-- Step 1 -->
    <div ng-if="processPaymentCtrl.step == 1">

    </div>

    <!-- Step 2 -->
    <div ng-if="processPaymentCtrl.step == 2">
      <div>
        Number: <input ng-model="processPaymentCtrl.card.number">
      </div>
      <div>
        Exp Month: <input ng-model="processPaymentCtrl.card.expMonth">
      </div>
      <div>
        Exp Year: <input ng-model="processPaymentCtrl.card.expYear">
      </div>
      <div>
        CVC: <input ng-model="processPaymentCtrl.card.cvc">
      </div>
    </div>

    <!-- Step 3 -->
    <div ng-if="processPaymentCtrl.step == 3">

    </div>

    <!-- Step 4 -->
    <div ng-if="processPaymentCtrl.step == 4">
      Proceed with Charge of {{processPaymentCtrl.charge.amount | currency}}?
    </div>

  </div>
</div>
<div class="view-modal-button-wrapper">
  <div class="view-modal-button" ng-click="processPaymentCtrl.nextButtonClick()">{{processPaymentCtrl.buttonText}}</div>
</div>

