<div class="view-modal-header-wrapper">
  <div class="exit-button" ng-click="$dismiss()">X</div>
  <div class="view-modal-header">
        <div class="view-modal-info">
      <div>
        <div class="view-modal-company-name">{{viewTransactionCtrl.transaction.companyName}}</div>
        <div class="view-modal-payment-number">PAYMENT APPLICATION #{{viewTransactionCtrl.transaction.formattedPaymentNumber()}}</div>
      </div>
      <div style="padding-bottom: 38px">
        <div class="view-modal-project-name">{{viewTransactionCtrl.transaction.projectName}}</div>
        <div class="view-modal-transaction-date">{{viewTransactionCtrl.transaction.formattedCreatedDateTwo()}}</div>
        <div class="view-modal-amount-total">{{viewTransactionCtrl.transaction.amount() | currency}}</div>
      </div>
    </div>
  </div>
</div>
<div class="view-modal-body-wrapper">
  <div class="view-modal-body">
    <!-- Step 1 -->
    <div ng-if="processPaymentCtrl.step == 1">

    </div>

    <!-- Step 2 -->
    <div ng-if="processPaymentCtrl.step == 2">

    </div>

    <!-- Step 3 -->
    <div ng-if="processPaymentCtrl.step == 3">

    </div>

    <!-- Step 4 -->
    <div ng-if="processPaymentCtrl.step == 4">

    </div>

  </div>
</div>
<div class="view-modal-button-wrapper">
  <div ng-if="viewTransactionCtrl.transaction.isAnIncome(viewTransactionCtrl.user.id)" class="view-modal-button" ng-click="viewTransactionCtrl.requestPayment()">Request Payment</div>
  <div ng-if="viewTransactionCtrl.transaction.isAnExpenditure(viewTransactionCtrl.user.id)" class="view-modal-button" ng-click="viewTransactionCtrl.pay()">Pay Now</div>
</div>

