<div class="view-modal-header-wrapper">
  <div class="exit-button" ng-click="$dismiss()">X</div>
  <div class="view-modal-header">
        <div class="view-modal-info">
      <div>
        <div class="view-modal-company-name">{{viewCreditCtrl.user.companyName}}</div>
        <div class="view-modal-payment-number">PAYMENT APPLICATION #{{viewCreditCtrl.credit.formattedPaymentNumber()}}</div>
      </div>
      <div style="padding-bottom: 38px">
        <div class="view-modal-project-name">{{viewCreditCtrl.credit.projectName}}</div>
        <div class="view-modal-transaction-date">{{viewCreditCtrl.credit.formattedCreatedDateTwo()}}</div>
        <div class="view-modal-amount-total">{{viewCreditCtrl.credit.amount | currency}}</div>
      </div>
    </div>
  </div>
</div>
<div class="view-modal-body-wrapper">
  <div class="view-modal-body">
    <div class="view-modal-line-items">
      <div class="view-modal-line-item" ng-repeat="lineItem in viewCreditCtrl.credit.lineItems">
        <span class="line-description">{{lineItem.description}}</span>
        <span class="line-amount">{{lineItem.amount | currency}}<span>
      </div>
    </div>
    <div class="view-modal-subtotal">
      <span style="padding-right: 80px">TOTAL DUE: </span>
      <span>$890,000.00</span>
    </div>
  </div>
</div>
<div class="view-modal-button-wrapper">
  <div class="view-modal-button" ng-click="$dismiss()">Pay Now</div>
</div>

