.box-wrapper {
  background: $outer-background;
  padding-bottom: 60px;
}
.outer-box {
  background: $outer-background;
  width: 92.5%;
  margin: 0 auto;
}

.page-content {
  padding-top: 40px;
}

.inner-box {
  background: rgb(255, 255, 255);
  border: solid;
  border-width: 1px;
  border-color: rgb(226, 224, 226);
}

.page-title {
  p {
    font-family: khuluBold;
    font-size: 26px;
    color: rgb(70, 70, 70);
  }
}

.transactions-container {
  padding-top: 46px;
  width: 95%;
  margin: 0 auto;
}

.bar-graph-container {
  display: inline-block;
}

.income-donut {
  display: inline-block;
  float: right;
}

.expenditure-donut {
  display: inline-block;
  float: right;
}
